@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 46, 100%, 50%;
    --secondary: 219, 68%, 32%;
    --black: 0, 0%, 0%;
    --white: 0, 0%, 99%;

    --radius: 8px;
  }
  .dark {
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
